.toggle-button {
  color: white;
  display: flex;
  align-items: center;
  transition: all 0.3s ease; /* Added transition effect */
}

.expanded {
  transform: translateY(-50%); /* Move the expanded content up */
}

.icon-text {
  margin: 15px 0 15px 10px;
  color: grey;
}

.expanded-content {
  display: flex;
  width: 90%;
  margin-left: 40px;
  height: 0; /* Set fixed height for expanded content */
  overflow: hidden; /* Hide overflow content */
  transition: all 0.5s ease; /* Added transition effect */
}

.expanded-content img {
  height: 150px;
  width: 200px;
}

.content-text {
  color: white;
  text-align: justify;
  padding: 10px;
}
