/* styles/ContactUs.module.css */
.background {
  background-color: #e5e5e5;
  opacity: 0.9;
  background-image: 'url("https://img.freepik.com/free-vector/organic-flat-man-customer-support_23-2148893295.jpg?w=740&t=st=1694160956~exp=1694161556~hmac=237187682149577fcabd9f4d1773426afa7b97bab8d9beedb47da73fe7022e08")';
}
.contact_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.contact_item {
  flex: 1;
  text-align: center;
  margin: 10px;
}

.contact_item p {
  margin: 0;
}
.icon {
  color: rgb(255, 144, 0);
  font-size: 40px;
}
.icon:hover {
  transform: scale(1.4);
}
.divitem {
  margin-top: 10px;
}

@media (max-width: 768px) {
  .contact_container {
    grid-template-columns: 1fr;
  }
}
