.redMarker::marker {
  color: orangered;
}
.image {
  margin-top: 0px;
  margin-left: 0px;
}
@media (max-width: 760px) {
  .contact {
    margin-left: 0px;
  }
  .contactHead {
    margin-left: 0px;
  }
  .hra {
    width: 100%;
  }
  .image {
    margin-top: -227px;
    margin-left: 140px;
  }
}
