:root {
  --primary-color: #ff6347;
  --secondary-color: #ffffff;
  --accent-color: #ffdead;
  --background-color: #ece1e1;
  --heading-font: "Poppins", sans-serif;
  --body-font: "Open Sans", sans-serif;
}

body {
  font-family: var(--body-font);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
